{% assign stars = stars | round %}
<div class="rating-stars-container">
  {% for i in (1..5) %}
    {% if i <= stars %}
      {%- render 'icon' with 'rating-star', class: 'rating-star--active', height: 16, width: 16 -%}
    {% else %}
      {%- render 'icon' with 'rating-star', class: 'rating-star--disabled', height: 16, width: 16 -%}
    {% endif %}
  {% endfor %}
</div>

{% style %}
  .rating-stars-container {
    display: flex;
  }
{% endstyle %}